<div class="jumbotron">
  <h1 class="display-4">SUPERHERO DESIGNER!!!</h1>
  <p class="lead">Design you own superhero costume!</p>
  <hr class="my-4">
  <p>Cape? Underwear? Jetpack??! YOU DECIDE</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/items" role="button">Learn more</a>
  </p>
</div>