<div class="jumbotron">
  <h1 class="display-4">Items</h1>
  <p class="lead">Welcome to our items page</p>
  <hr class="my-4">
  <p>Superheros are so cool</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>
</div>