<div class="jumbotron">
  <h1 class="display-4">Items</h1>
  <p class="lead">Welcome to our items page</p>
  <hr class="my-4">
  <p>Superheros are so cool, make one of your own?</p>
  <% @items.each do |item| %>
    <p><%=item.label%></p>
    <p><%=item.description%></p>
    <p><%=item.price%></p>
  <% end %>
  <p class="lead">
    <%= link_to 'New', items_new_path, class: "btn btn-primary btn-lg" %>
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>

</div>